<div class="descarga__container">
  <div class="descarga__card">
    <img src="../../assets/imd/gymEatLogo2.png" alt="" class="descarga__card--img">
    <a href="https://github.com/Jesus-GR/AppIonicGymAndEat" target="_blank">Descarga aquí</a>
  </div>
    <img src="assets\imd\usuario-removebg-preview.png" class="descarga__foto" alt="">
    <img src="assets\imd\creacionRutina-removebg-preview.png" class="descarga__foto" alt="">
    <img src="assets\imd\rutina-removebg-preview.png" class="descarga__foto" alt="">
</div>
