<div id="parallax">
  <div class="titulo">
    <h1>¿Que es GymEat?</h1>
  </div>
</div>

<div id="video">
  <video id="medio" onloadedmetadata="this.muted = true" width="750px">
    <source src="../../assets/video/videoCanvas.mp4" />
  </video>
  <div class="videoTexto">
    <h2>GymEat es una sencilla aplicación con la que podrás anotar tus progresos
      en el gym para así poder conseguir tus metas.
    </h2>
  </div>
</div>
<canvas id="lienzo"> Su navegador no soporta el elemento canvas </canvas>

<div id="spriteSection">
  <div id="spriteCorre"></div>
  <div >
      <h3>Simplifica la forma de organizar <br> tus entrenamientos para así ponerte más mamado</h3>
  </div>
</div>

<div id="parallax2">
  <div class="backgroundGrid"></div>
  <div id="idea">
    <h1>GymEat surge para cubrir la necesidad  de anotar tus progresos
      a la hora de entrenar, con la comodidad  de hacerlo a través
      de una única app, donde englobarás tanto las  anotaciones de los ejercicios,
      como el control de tu dieta, además de poder  manejar el cronómetro y
      la música
    </h1>
  </div>
  <img src="assets\imd\usuario-removebg-preview.png" alt="">
  <img src="assets\imd\creacionRutina-removebg-preview.png" alt="">
  <img src="assets\imd\rutina-removebg-preview.png" alt="">
</div>

<div id="parallax3"></div>
