/* You can add global styles to this file, and also import other style files */
/****************Colores*****************/

@font-face{
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto Slab', serif;
}
*{
  --background: #D3D5D8;
  --gray: #797d7f;
  --lightShadow: #FFFF;
  --white:#FFFFFF;
  --black:#000000;
  --darkRed:#942926;
  --green:#7EE0B9;
  --darkGreen:#26996B;
  --red:#E06A67;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
}

h4{
  font-family: 'Bebas Neue', cursive;
}

a{
  font-family: 'Bebas Neue', cursive;
}
