.footer__container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(177, 177, 177, 0.8);
}

.footer__container--element{
  list-style:none;
}

h4{
  margin-top: 40px;
  margin-bottom: 50px;
  color: white;
  font-size: 2em;
}

.footer__container--element li{
  list-style:none;
  font-size: 1em;
  text-align: center;
  line-height: 4ex;
  text-decoration:none;
}
.footer__container--element i{
  list-style:none;
  font-size: 3em;
  color: black;
  text-align: center;
}

.footer__container--element a{
 color: black;
}
.footer__container--element h5{
  color: black;
  text-align: center;
 }

.footer__container--element:nth-of-type(3){
  display: flex;
  flex-direction: column;

}

.footer__container--rrss ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.cuadradoSVG{
  margin-left: 220px;
}

@media screen and (max-width: 1300px) {

  .footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(177, 177, 177);
  }

  .footer__container--element:nth-of-type(2){
    margin-left: -150px;
  }
  .footer__container--element:nth-of-type(3){
    margin-left: -150px;
  }
}

@media screen and (max-width: 900px) {

  .footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 177, 177);
  }

  .footer__container--element:nth-of-type(2){
    display: none;
  }
  .footer__container--element:nth-of-type(3){

    margin-right:  -150px;
  }
}
